body {
    background-color: #000000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px;
}

.container.bannerleft {
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-basis: 20%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
    position: left;
}

.container.bannerright {
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-basis: 75%;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.container.bannerright.top {
    align-content: flex-end;
}

.container.bannerright.bottom {
    align-content: flex-start;
    margin-top: 0px;
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
        align-content: center;
        max-width: 1292px;
    }
}

hr {
    width: 1292px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: none;
}

img.mainimage {
    width: 100%;
    box-sizing: border-box;
}

img.logo {
    margin-left: 0px;
}

h1 {
    color: white;
    display: flex;
    align-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    font-size: 350%;
}

h1 span {
    color: red;
    display: flex;
    align-content: flex-end;
}

h2 {
    color: white;
    display: flex;
    align-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: auto;
}