<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/main.css" type="text/css" rel="stylesheet">
    <title>Motortuned</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div id="bannerleft"><img class="img logo" srcset="../images/logo.png" alt="Motortuned logo"></div>
            <div id="top">
                <h1>Motor<span>tuned</span></h1>
            </div>
            <div class="container bannerright bottom">
                <h2>Motorcycle photography</h2>
            </div>
        </div>
    </header>
    <hr>
    <!-- Navbar -->
    <!-- TODO-->
    <main>
        <section class="container">
            <div class="mainimage"><img srcset="../images/banner.jpg" alt="2018 Yamaha YZF-R1"></div>
        </section>
        <section class="container">
            <p>Photos of my motorcycles</p>
        </section>
        <hr>
        <section class="showcontainer">
            <div class="img showcase first">
                <ul>2018 Yamaha YZF-R1</ul>
                <img srcset=" ../images/showcase_1.jpg" alt="2018 Yamaha YZF-R1">
            </div>
            <div class="img showcase">
                <ul>2016 Yamaha WR450F</ul>
                <img srcset="../images/showcase_2.jpg" alt="2016 Yamaha WR450F">
            </div>
            <div class="img showcase ">
                <ul>2008 Suzuki GSX-R750</ul>
                <img class="img showcase" srcset="../images/showcase_3.jpg" alt="2008 Suzuki GSX-R750">
            </div>
            <div class="img showcase last ">
                <ul>2008 Suzuki GSX-R750</ul>
                <img class="img showcase last" srcset="../images/showcase_4.jpg" alt="2008 Suzuki GSX-R750">
        </section>
    </main>
</body>
<!--footer-->
<footer>
    <hr>
    <div class="footer">
        <h3>© 2019 Rakesh Mithun |<a href="mailto:slipknut@gmail.com">Contact</a></h3>
    </div>
</footer>

</html>