<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../Assets/bootstrapv4.css" type="text/css" rel="stylesheet">
    <link href="../Assets/main.css" type="text/css" rel="stylesheet">
    <title>Motortuned</title>
</head>

<body>
    <!-- Header -->
    <header>

        <div class="container">
            <div class="container bannerleft left"><img class="img logo" srcset="../Images/logo.png"></div>
            <div class="container bannerright top">
                <h1>Motor<span>tuned</span></h1>
            </div>
            <div class="container bannerright bottom">
                <h2>Motorcycle photography</h2>
            </div>
        </div>

    </header>
    <hr>
    <!-- Navbar -->
    <nav>
        <div class="container">
            <div class="navbar">
                <div class="container-fluid">
                    <div class="row">
                        <a href="#" class="col-sm-3">Home</a>
                        <a href="#band" class="col-sm-3">About</a>
                        <a href="#contact" class="col-sm-3">Contact</a>



                    </div>



                </div>

            </div>

        </div>
    </nav>


    <main>



        <div class="img mainimage"><img srcset="https://scontent.fbne6-1.fna.fbcdn.net/v/t1.0-9/42425569_10155535324707133_935331228666560512_o.jpg?_nc_cat=102&_nc_oc=AQlxTwmjPb9EpDM00sfhdTT88yEZAcsJRHNcV7PdKSPcs2z5qhNoje4M2WurMn2HxZWQ5rKhyl3r8e2QXmpWpfVe&_nc_ht=scontent.fbne6-1.fna&oh=2e0d0d44be4b8f34d1519f8acf9e9cbe&oe=5E0C95A1"></div>



    </main>

</body>

</html>