<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Home.html">
        <system.webServer>
            <defaultDocument enabled="true" />
        </system.webServer>
    </location>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="Home.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
